body{
    max-width: 1800px;
    margin: 0 auto;
    font-family: "Exo 2", sans-serif;
}
header>div>ul{
    display: flex;
    justify-content:flex-end;
    height: 50px;
    margin-bottom: 0;
    padding-top: 17px;

}

header>div>ul li{
    margin-right: 30px;
    
}
header>div>ul li:last-of-type{
    margin-right: 0;
    padding-right:15px;
}
header{
    max-width: 1200px;
    margin: 0 auto; 
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    height: 51px;
}
.navbar{
    position: relative;
    background-image: none;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    border:none;
    z-index:2;
}
.container-nav{
     position: relative;
     background: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    z-index:2;
}
.logo{
    position: absolute;
    top:0;
    z-index: 3;
    
}
.navbar-default .navbar-nav > li > a {
    position: relative;
    color:white;
    z-index: 3;
}

#MyCarousel-1{
    position: relative;
    top:-50px;
    
    height: 600px;
    z-index: 1;
}
.item{
    background-image: url(../image/back-1.png);
    height: 600px;
    background-size: cover;
    
}

.black{
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
   opacity:0.3;
   background-color: black;
   z-index: 4;
}



.left{
    
}
.figure{
   display: flex; 
}
.figure-cap{
    display: flex;
}

.figure figure {
border: 1px solid white;
font-size: 35px;
padding: 5px;
margin: 3px;
}

.left-block-space {
margin-left: 40px;
}
form {
display: flex;
flex-direction: column;
position: absolute;
top: 100px;
right: 10%;
z-index: 4;
width: 300px;
margin: 10px;
background-color: rgba(0, 0, 0, 0.3);
}

input {
margin: 10px 20px;
opacity: 0.6;
color: white;
background-color: rgba(0, 0, 0, 0.3);
border: 1px solid silver;
}
form p {
color: white;
width: 180px;
margin-top: 15px;
margin-left: 40px;
}

.button {
background-color: #ec360a;
border: none;
margin-top: 30px;
margin-bottom: 30px;
}
.left {
position: absolute;
top: 12%;
left: 10%;
color: white;
z-index: 4;
}

